@charset "utf-8";

$cutie: hsl(111°, 100%, 35%);
$link: $cutie;
$footer-padding: 1.9rem 1.5rem 1.7rem;
$section-padding: 0.5rem 1.5rem 3rem;
$hero-body-padding: 2rem 1.5rem;

@import "../node_modules/bulma/bulma.sass";
