span > div > h2 {
   font-size: 1.7rem;
   font-weight: bold;
   margin-top: 20px;
}

span > div > h3 {
   font-size: 1.4rem;
   font-weight: bold;
   margin-top: 17px;

}

span > div > h4 {
   font-size: 1.2rem;
   font-weight: bold;
   margin-top: 17px;

}


span > div > pre {
   margin: 10px 0;
}

a:hover {
   color: #138000;
}

span > div > img {
   margin: 20px;
}

span > div > ul {
   list-style-type: disc;
   list-style-position: inside;
}

span > div > ol {
   list-style-type: disc;
   list-style-position: inside;
}