/* .debugger {
   border: 2px solid greenyellow;
} */

.textVerticalSpacing {
   line-height: 150%;
}

.disc {
      list-style-type: disc;
      list-style-position: inside;
}

@media screen and (max-width: 434px) {
   .h1Margin {
      margin-bottom: 4px !important;
   }
 } 
