.textVerticalSpacing {
  line-height: 150%;
}

.disc {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 15px;
}

.contact {
  margin-top: 15px;
}

@media screen and (max-width: 434px) {
  .h1Margin {
    margin-bottom: 4px !important;
  }
}
