.footerBackground {
  background: rgb(0, 209, 178);
  background: linear-gradient(
    90deg,
    rgba(0, 209, 178, 1) 0%,
    rgba(27, 179, 0, 1) 100%
  );
}

/* .footerSticky {
  position: sticky;
  bottom: 0px;
  z-index: 100;
} */
